<div class="login-view2">
    <div id="response-loading" role="progressbar" style="display: none;"
        class="mdc-linear-progress mdc-linear-progress--indeterminate" aria-label="Example Progress Bar"
        aria-valuemin="0" aria-valuemax="1" aria-valuenow="0">
        <div class="mdc-linear-progress__buffer">
            <div class="mdc-linear-progress__buffer-bar"></div>
            <div class="mdc-linear-progress__buffer-dots"></div>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
    </div>
    <div class="login-view2__container">

        <div style="padding: 0px 30px;" id="email-login-container">
            <h1 style="text-align: center;">Login</h1>
            <div class="login-view2__login-form">
                <label class="mdc-text-field mdc-text-field--outlined" id="email-field">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="email-label">Email</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="email" id="email-input" class="mdc-text-field__input" aria-labelledby="email-label"
                        required>

                </label>
                <div id="email-error" class="login-view2__error-msg">
                    {RegisterErrorEmail}
                </div>
                <label class="mdc-text-field mdc-text-field--outlined" id="password-field">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="password-label">Enter your password</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="password" id="password-input" class="mdc-text-field__input"
                        aria-labelledby="password-label" required>
                </label>
                <div class="login-view2__forgot-pass" id="forgot-pass-button">{IForgotPassword}</div>
                <div id="password-error" class="login-view2__error-msg">
                    {LoginPassFailed}
                </div>
            </div>
            <div class="login-view2__response-error" id="response-error">

            </div>

            <div class="login-view2__login-button">
                <button class="mdc-button mdc-button--raised" id="login-button">
                    <span class="mdc-button__label">LOGIN</span>
                </button>
            </div>
            <p style="margin: 10px 0px; text-align: center;">OR</p>
            <div class="login-view2__auth-button">
                <button class="mdc-button mdc-button--outlined" id="login-authcode">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Sign in with Auth-Code</span>
                </button>
            </div>
            <p style="margin: 10px 0px; text-align: center;">OR</p>
            <div class="login-view2__create-account">
                <button class="mdc-button mdc-button--raised" id="create-account-button">
                    <span class="mdc-button__label">CREATE AN ACCOUNT</span>
                </button>
            </div>
        </div>

        <div class="login-view2__authcode-container" style="padding: 0px 30px;" id="authcode-login-container">
            <h1 style="text-align: center;">Enter Auth-Code</h1>
            <div class="login-view2__login-form">
                <label class="mdc-text-field mdc-text-field--outlined" id="authcode-field">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="authcode-label">Auth-Code</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" id="authcode-input" class="mdc-text-field__input" style="text-align: center;"
                        aria-labelledby="email-label" required>

                </label>

            </div>
            <div class="login-view2__response-error" id="auth-code-response-error">

            </div>

            <p style="margin: 10px 0px; text-align: center; margin-top: 80px">OR</p>
            <div class="login-view2__login-button">
                <button class="mdc-button mdc-button--raised" id="login-email-button">
                    <span class="mdc-button__label">LOGIN WITH EMAIL</span>
                </button>
            </div>
            <p style="margin: 10px 0px; text-align: center;">OR</p>
            <div class="login-view2__create-account">
                <button class="mdc-button mdc-button--raised" id="create-account-button-authcode">
                    <span class="mdc-button__label">CREATE AN ACCOUNT</span>
                </button>
            </div>
        </div>

    </div>

    <div style="
    text-align: right;
    width: 100%;
    ">
        <button class="mdc-button" id="open-support-button">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">live_help</i>
        </button>
    </div>
</div>