


<div id="proxysearch-active" class="proxysearch-view proxysearch-view__searching-active">
	<div id="response-loading" role="progressbar" class="mdc-linear-progress" aria-label="Example Progress Bar" aria-valuemin="0" aria-valuemax="1" aria-valuenow="0">
        <div class="mdc-linear-progress__buffer">
          <div class="mdc-linear-progress__buffer-bar"></div>
          <div class="mdc-linear-progress__buffer-dots"></div>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
          <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
          <span class="mdc-linear-progress__bar-inner"></span>
        </div>
    </div>

	<div class="proxysearch-view__container">

		<div class="wrapper">

			<div class="proxysearch-view__spinner">

			</div>

			<div class="proxysearch-view__search-title">
				You are connecting to <span id="search-country"></span>. Please wait.
			</div>

			<div class="proxysearch-view__button-container">
				<button class="mdc-button mdc-button--raised" id="cancel-search-button">
                    <span class="mdc-button__label">CANCEL</span>
                </button>
			</div>

		</div>

	</div>

</div>

<div id="proxysearch-failed" class="proxysearch-view proxysearch-view__searching-failed">
	<div class="proxysearch-view__container">

		<div class="wrapper">
			<div class="proxysearch-view__search-title">{SearchingProxyFailedTitle}</div>
			<span id="failed-servertype"></span>
			<p id="client-version"></p>
			<p class="proxysearch-view__description" id="search-result-txt"></p>
			<div>
			<p>Could not connect to any server in </p>
			<p id="failed-country"></p>
			</div>
			<div class="proxysearch-view__button-container">
				<button id="back-to-dashboard-button" class="mdc-button mdc-button--raised">
					<span class="mdc-button__label">{SearchingProxyBackToServerList}</span>
				</button>
			</div>
		</div>

	</div>

</div>
